<div class="WallaFavourites__content" *ngIf="modalStatus">

  <div class="WallaFavourites__bg" (click)="toggleFavModal()"></div>

  <div class="WallaFavourites__modal col-md-6">

    <div class="WallaFavourites__header">
      <h2 class="WallaFavourites__title">Favourites</h2>
      <div class="WallaFavourites__close" (click)="toggleFavModal()"></div>
    </div>

    <div class="WallaFavourites__items">

      <div class="WallaFavourites__search">
        <input [(ngModel)]="searchText" placeholder="Search..." class="WallaFavourites__input">
      </div>

      <div class="WallaFavourites__nores" *ngIf="favItems.length == 0">Add items to favourites to be shown here</div>

      <div class="WallaFavourites__item" *ngFor="let favitem of favItems | titlePipe: searchText">
        <img class="WallaFavourites__image" src="/assets/img/items/{{favitem.image}}" alt="">
        <div class="WallaFavourites__info">
          <span class="WallaFavourites__title">{{favitem.title}}</span>
          <a class="WallaFavourites__remove" (click)="removeFavourite(favitem)">Remove from list</a>
        </div>
      </div>

    </div>

  </div>
  
</div>