@import '~scss/colors';

.WallaSearch__title {    
    font-family: WallieChunky;
    color: $wallapop-color;
    margin-bottom: 0;
    font-size: 48px;
    margin-top: 35px;
}

.WallaSearch__subtitle {
    color: $light-black;
    margin: 0;
    font-size: 42px;
}
