
<div class="WallaSearch__content container">
  <div class="row">
    <div class="col-md">
      <h3 class="WallaSearch__title">Wallapop</h3>
      <h4 class="WallaSearch__subtitle">Search any item that you want</h4>
    </div>
  </div>
</div>

<app-walla-results isResultsPage="false"></app-walla-results>