<div class="WallaResults__content container">

  <div class="row">
    <div class="col-md-12">
      <app-walla-filterbar search="{{searchString}}"></app-walla-filterbar>
    </div>
  </div>

  <div class="row" *ngIf="!isResultsPage">
    <div class="col-md-6 offset-md-3">
      <div class="WallaOrder__content">
        <span class="WallaOrder__text">Order By: </span>
        <div>
          <button class="WallaOrder__btnfilter" [ngClass]="{'WallaOrder__btnfilter--active': sortVar == 'price'}" (click)="setSortVar('price')">Price</button>
          <button class="WallaOrder__btnfilter" [ngClass]="{'WallaOrder__btnfilter--active': sortVar == 'title'}" (click)="setSortVar('title')">Title</button>
          <button class="WallaOrder__btnfilter" [ngClass]="{'WallaOrder__btnfilter--active': sortVar == 'description'}" (click)="setSortVar('description')">Description</button>
          <button class="WallaOrder__btnfilter" [ngClass]="{'WallaOrder__btnfilter--active': sortVar == 'email'}" (click)="setSortVar('email')">Email</button>
        </div>
      </div>
    </div>
  </div>

  <div class="WallaResults__items row" *ngIf="isResultsPage">
    <div class="col-md-3" *ngFor="let item of searchResult | titlePipe: searchString | paginate: { itemsPerPage: 4, currentPage: p }">
      <div class="WallaResults__item">
        <img class="WallaResults__itemImage" src="/assets/img/items/{{item.image}}">
        <div class="WallaResults__itemInfo">
          <div class="WallaResults__flexrow">
            <span class="WallaResults__itemPrice">{{item.price}}€</span>
            <div [ngClass]="{'WallaResults__favourite--active': item.favourite}" class="WallaResults__favourite" (click)="addFavourite(item)"></div>
          </div>          
          <span class="WallaResults__itemTitle">{{item.title}}</span>
          <span class="WallaResults__itemEmail">{{item.email}}</span>
          <p class="WallaResults__itemDesc">{{item.description}}</p>
        </div>
        <div class="WallaResults__itemContact">
        </div>
      </div>
    </div>
  </div>

  <div class="WallaResults__items row" *ngIf="!isResultsPage">
    <div class="col-md-3" *ngFor="let item of searchResult | titlePipe: searchString | sort: sortVar : false | paginate: { itemsPerPage: 4, currentPage: p }">
      <div class="WallaResults__item">
        <img class="WallaResults__itemImage" src="/assets/img/items/{{item.image}}">
        <div class="WallaResults__itemInfo">
          <div class="WallaResults__flexrow">
            <span class="WallaResults__itemPrice">{{item.price}}€</span>
            <div [ngClass]="{'WallaResults__favourite--active': item.favourite}" class="WallaResults__favourite" (click)="addFavourite(item)"></div>
          </div>
          <span class="WallaResults__itemTitle">{{item.title}}</span>
          <span class="WallaResults__itemEmail">{{item.email}}</span>
          <p class="WallaResults__itemDesc">{{item.description}}</p>
        </div>
        <div class="WallaResults__itemContact">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>

</div>