@import '~scss/colors';

.WallaHeader {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    height: 66px;
    background-color: $white;
    border-bottom: 1px solid;
    border-color: rgba($header-border,.5);
    position: fixed;
    padding: 0 10px 0 10px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 0 2px 4px 0 rgba($black-medium, .03)
}

.WallaHeader__icon {
    display: block;
    width: 50px;
    height: 50px;
    background: url('/assets/img/ic-logo-web.svg') 0 4px;
    background-size: 50px;
    background-repeat: no-repeat;
}

.WallaHeader__tabs {
    display: flex;
    padding: 0 10px;
    height: 100%;
    align-items: center;
    cursor: pointer;
}

.WallaHeader__tab {
    position: relative;
    display: flex;
    padding: 0 10px;
    height: 100%;
    align-items: center;
    &--active {
        font-family: 'WallieChunky';
        color: $wallapop-color;        
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 8px;
            height: 3px;
            width: 80%;
            background-color: $wallapop-color;
        }        
    }
}