<header class="WallaHeader">

  <a class="WallaHeader__logo" routerLink="/">
    <i class="WallaHeader__icon"></i>
  </a>

  <div class="WallaHeader__tabs">

    <div class="WallaHeader__tab WallaHeader__tab--active">
      <span>Manager</span>
    </div>

    <div #WallaFavTab class="WallaHeader__tab WallaHeader__tab--favourites" (click)="toggleFavModal()">
      <span>Favourites</span>
    </div>

  </div>

</header>