<!-- START Application Header-->
<app-walla-header></app-walla-header>
<!--END Application Header-->

<div class="WallaApp__content">

    <!--START routing outlet-->
    <router-outlet></router-outlet>
    <!--END START routing outlet-->

    <!--START Favourites modal-->
    <app-walla-favourites></app-walla-favourites>
    <!--END Favourites modal-->

</div>