<div class="WallaFilter__bar">

  <input #titleSearch (input)="onSearchChange($event.target.value)" (keyup)="$event.keyCode == 13 && makeSearch(titleSearch.value)" value="{{search}}" type="text" class="WallaFilter__input" placeholder="Try 'iPhone'">
  <div (click)="makeSearch(titleSearch.value)" [ngClass]="{'WallaFilter__searchbtn--active': searchBtnActivated}" class="WallaFilter__searchbtn"></div>

</div>