/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'WallieFit';
    src: url('/assets/fonts/Wallie-Fit.woff2') format('woff2');
}

@font-face {
    font-family: 'WallieChunky';
    src: url('/assets/fonts/Wallie-Chunky.woff2') format('woff2');
}

@import '/assets/vendor/bootstrap/bootstrap-grid.min.css';
@import '/assets/vendor/normalize/normalize.css';
@import '/assets/vendor/ngx-pagination/ngx-pagination';

body {
    background-color: rgba(236,239,241,.6);
}

html, body {
    font-family: WallieFit;    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}