/*
    APP Colors
*/

$white: white;
$black: black;
$wallapop-color: #13c1ac;
$light-black: #333;
$black-medium: #253238;
$light-gray: #eceff1;
$medium-gray: #90A4AE;
$filter-black: #253238;
$delete-red: #E8706B;
$header-border: #ECEFF1;
$order-border: #CFD8DC;